@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial;
	margin-left: 30%;
	margin-right: 10%;

}

h1{
	margin-top: 30px;
	font-weight: normal;
	font-size: 50px;
	text-align: left;
}

h2{
	margin-top: -25px;
	font-weight: normal;
	font-size: 30px;
}

nav {
	float: left;
	line-height: 1.4;
	padding-left:150px; 
}

ul{margin: 0px;}


.about{
	font-weight: bold;
	list-style: none;
	font-size: 20px;
	margin-top: 20px;
	padding-left: 0;
	line-height: 1.4;
}

.bold{
}

.epub{
	font-size: 15px;
	font-weight: bold;
}

h3 {
	float: left;
	font-weight: normal;
	font-size: 15px;
	margin-top: 23px;
	line-height: 1.5;
	margin-right: 0;
}


h4{
	font-weight: normal;
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 5px;
}
span{
	padding: 0;
}

.audio_list{
	padding-left: 10px;
	list-style: none;
	font-size:30px;
}

section:after {
  content: "";
  display: table;
  clear: both;
}


audio{
	width: 300px;
	height: 40px;
	transform: scale(0.8) translateY(30%) translateX(10%);
	-webkit-transform: scale(0.8) translateY(30%) translateX(10%)
}

.text_2{
	width: 500px;
	margin-top: -5px;
}


.cit{
	font-size: 35px;
}

a {
	color: black;
	-webkit-text-decoration-line: none;
	text-decoration-line: none;
}

a:hover{
	-webkit-text-decoration-line: none;
	text-decoration-line: none;
	color: gray;
}


.name{
	font-weight: bold;
}

@media only screen and (max-width:1300px) {

 body{
  	margin-left: 27%;
  	margin-right: 10%;
  }

  audio{
	transform: scale(0.8) translateY(35%) translateX(10%);
	-webkit-transform: scale(0.7) translateY(35%) translateX(10%)
}

nav{
	padding-left: 150px;
}
}

@media only screen and (max-width:900px) {
  /* For mobile phones: */
 body{
  	margin-left: 18%;
  	margin-right: 0%;
  }

.audio_list{
	padding-left: 10px;
	list-style: none;
}

audio{
  	width: 180px;
}

nav{
	padding-left: 70px;

}
}
@media only screen and (max-width:580px){

body{ 
	margin-left: 4%;
  	margin-right: 4%;

}

h1{margin-top: 15px

}

h3{
	margin-top: 0px;
}

nav{
	padding-left: 0%;
	content: "";
  display: table;
  clear: both;
}

.audio_list{
	font-size:30px;
	padding-left: 10px;
	margin-top: 10px;
	list-style: none;
}

audio{
  	width: 90px;
}

.text_2{
	width: 90%;
}
}